{% extends 'base_bo.html.twig' %}

{% block title %}Hello BoAutoPromoController!{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-md-11"></div>
        <div class="col-6 col-md-1 themed-grid-col">
            <a href="{{ path('create_auto_promo') }}">     
                <img src="{{ asset('/Fichiers/autopromo/round-add-button_icon-icons.com_72595.png' ) }}" alt="Nouvelle autopromo" title="Nouvelle autopromo" width="32" height="32">
            </a> 
        </div>
    </div>    
    <div class="jumbotron ">
        <div class="col-md-12"><h1 style="margin-bottom: 4vh;" class="display-4">Encart principal </h1></div>
        {% for autoPromo in autoPromoList %}
            {% if autoPromo.statut == 1 and autoPromo.zone == 1 %}
                <div class="row mb-3">
                    <div class="col-md-3 flex">
                        <img src="{{ asset( autoPromo.image | imagine_filter('bo_list')) }}" class="rounded float-right" alt="...">
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.titre }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.periode }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.statut }}</p>
                        <div style="display: flex;flex-direction: column;justify-content: center;align-items: end;">
                            <a class="btn btn-primary btn-lg" href="{{ path('edit_auto_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_new-24_103173.png' ) }}" alt="Supprimer autopromo" title="Suprimer autopromo" width="32" height="32">
                            </a>
                            <a id="target" style="margin-top:10px" class="btn btn-primary btn-lg" href="{{ path('delete_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_cross-24_103181.png' ) }}" alt="Modifier autopromo" title="Modifier autopromo" width="32" height="32">                        </a>
                        </div>
                    </div>
                </div>
            {% endif %}        
        {% endfor %}   
    </div>

    <div class="jumbotron ">
        <div class="col-md-12"><h1 style="margin-bottom: 4vh;" class="display-4">Encart secondaire </h1></div>
        {% for autoPromo in autoPromoList %}
            {% if autoPromo.statut == 1 and autoPromo.zone == 1 %}
                <div class="row mb-3">
                    <div class="col-md-3 flex">
                        <img src="{{ asset( autoPromo.image | imagine_filter('bo_list')) }}" class="rounded float-right" alt="...">
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.titre }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.periode }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.statut }}</p>

                        <div style="display: flex;flex-direction: column;justify-content: center;align-items: end;">
                            <a class="btn btn-primary btn-lg" href="{{ path('edit_auto_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_new-24_103173.png' ) }}" alt="Supprimer autopromo" title="Suprimer autopromo" width="32" height="32">
                            </a>
                            <a id="target" style="margin-top:10px" class="btn btn-primary btn-lg" href="{{ path('delete_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_cross-24_103181.png' ) }}" alt="Modifier autopromo" title="Modifier autopromo" width="32" height="32">                        </a>
                        </div>

                    </div>
                </div>
            {% endif %}        
        {% endfor %}   
    </div>

    <div class="jumbotron ">
        <div class="col-md-12"><h1 style="margin-bottom: 4vh;" class="display-4">Autopromo en hors ligne ! </h1></div>
        {% for autoPromo in autoPromoList %}
            {% if autoPromo.statut == 1 and autoPromo.zone == 2 %}
                <div class="row mb-3">
                    <div class="col-md-3 flex">
                        <img src="{{ asset( autoPromo.image | imagine_filter('bo_list')) }}" class="rounded float-right" alt="...">
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.titre }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.periode }}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ autoPromo.statut }}</p>

                        <div style="display: flex;flex-direction: column;justify-content: center;align-items: end;">
                            <a class="btn btn-primary btn-lg" href="{{ path('edit_auto_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_new-24_103173.png' ) }}" alt="Supprimer autopromo" title="Suprimer autopromo" width="32" height="32">
                            </a>
                            <a id="target" style="margin-top:10px" class="btn btn-primary btn-lg" href="{{ path('delete_promo',{id: autoPromo.id}) }}" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_cross-24_103181.png' ) }}" alt="Modifier autopromo" title="Modifier autopromo" width="32" height="32">                        </a>
                        </div>

                    </div>
                </div>
            {% endif %}        
        {% endfor %}   
    </div>
{% endblock %}
