{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
         {% block bandeau %}
    <div class="site-blocks-cover overlay" style="height: calc(30vh);background-image: url('https://127.0.0.1:8000/upload_files/hero_bg_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
            {% endblock %}
           {% block bandeauTitle %}
            <h1 class="mb-4 titre">Connexion</h1>
{#            <p class="mb-5 sousTitre">Résidence Évasion</p>
#}    {% endblock %}
{% block body %}
    <div class="container" style="padding:20px">
    {% for message in app.flashes('notice') %}
    <div class="alert alert-success" style="margin:25px 0px" role="alert">
       {{ message }}
    </div>
    {% endfor %}
    <div class="container" style="padding:20px">
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger" style="margin:25px 0px" role="alert">
       {{ message }}
    </div>
    {% endfor %}

    {{ form_start(form) }}
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.password, {'label': 'Nouveaux mot de passe'}) }}
        </div>
        <div class="col">
            {{ form_row(form.passwordVerify, {'label': 'Confirmation du mot de passe'}) }}
        </div>
    </div>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    </div>            
{{ form_end(form) }} 
    
    
{% endblock %}
{% block footer %}
     <footer class="site-footer" style="background-color: #f8f9fa !important;margin-top: 160px;">  
{% endblock %}
{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% endblock %}