<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">   
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block stylesheets %}
            <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
            <script src="http://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            {{ encore_entry_link_tags('app_bo') }}
        {% endblock %}
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html"><b>Tarbes</b> Appart</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"> </div>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('app_logout') }}" class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">

                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="line-height: inherit;">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="sb-sidenav-menu-heading">Gestion locative</div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                           <div class="sb-nav-link-icon">
                               <i class="fas fa-columns"></i>
                           </div>
                                    Gestion
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                       </a>
                      <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ path('admin_appart') }}">Appartement</a>
                            <a class="nav-link" href="{{ path('admin_appart_dispo') }}">Envoi des disponibilitées</a>
                            <a class="nav-link" href="{{ path('admin_reservation') }}">Réservation</a>
                            {# <a class="nav-link" href="">Tarifs Travaux</a> #}
                        </nav>
                     </div>
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
                           <div class="sb-nav-link-icon">
                               <i class="fas fa-columns"></i>
                           </div>
                                    Locataire
                       <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ path('admin_locataire') }}">Liste des locataire</a>
                            <a class="nav-link" href="{{ path('admin_appart_dispo') }}">Envoi des disponibilitées</a>
                           {# <a class="nav-link" href="">Tarifs Travaux</a> #}
                       </nav>
                     </div>
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts3">
                                    <div class="sb-nav-link-icon">
                                        <i class="fas fa-columns"></i>
                                    </div>
                                    Configuration
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ path('admin_user') }}">
                                            <div class="sb-nav-link-icon">
                                                <i class="fas fa-table"></i>
                                            </div>
                                            Gestion utilisateur
                                        </a>                                     </nav>
                                </div>
                                <a class="nav-link" href="{{ path('admin_contact') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Contact
                                </a>
                                <div class="sb-sidenav-menu-heading">Front Office</div>
                       <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts4" aria-expanded="false" aria-controls="collapseLayouts4">
                           <div class="sb-nav-link-icon">
                               <i class="fas fa-columns"></i>
                           </div>
                                    Gestion du Contenu
                                    <div class="sb-sidenav-collapse-arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                       </a>
                      <div class="collapse" id="collapseLayouts4" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{{ path('bo_auto_promo') }}">Autopromo</a>
                            <a class="nav-link" href="{{ path('admin_actualite') }}">Actualité</a>
                            <a class="nav-link" href="{{ path('admin_catalogue') }}">Catalogue</a>
                       </nav>
                     </div>
                       
                       
                       
{# MENU A MULTI NIVEAU #}
                       
                         {# <a class="nav-link collapsed" href="{{ path('admin_appart') }}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                           <div class="sb-nav-link-icon">
                               <i class="fas fa-book-open"></i>
                           </div>  Gestion locative 
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i>
                           </div>
                        </a>
                           <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">                     Authentication
                             <div class="sb-sidenav-collapse-arrow">
                                 <i class="fas fa-angle-down"></i>
                             </div>
                            </a>
                                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="login.html">Login</a>
                                                <a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                        </div>
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">Error<div class="sb-sidenav-collapse-arrow">
                                                <i class="fas fa-angle-down"></i>
                          </div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a>
                                                <a class="nav-link" href="404.html">404 Page</a>
                                                <a class="nav-link" href="500.html">500 Page</a></nav>
                                        </div>
                                    </nav>
                                </div>     #}  
                       
                       
                                                  {% endif %}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                            <div class="small">Connecté en tant que :</div>
                        {{ app.user.username }}
                    </div>
                </nav>


            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div style="padding-top: 20px;" class="container-fluid">
                    {% block body %}{% endblock %}                        
                </div>
            </main>
        </div>
    </div>        

    {% block javascripts %} {{ encore_entry_script_tags('app_bo') }} {% endblock %}
</body>
</html>
