{% extends 'base_bo.html.twig' %}

{% block title %}Hello AdminUserController!{% endblock %}

{% block body %}
   <div class="row mb-3">
        <div class="col-md-11"></div>
        <div class="col-6 col-md-1 themed-grid-col">
            <a href="{{ path('create_auto_promo') }}">     
                <img src="{{ asset('/Fichiers/autopromo/round-add-button_icon-icons.com_72595.png' ) }}" alt="Nouvelle autopromo" title="Nouvelle autopromo" width="32" height="32">
            </a> 
        </div>
    </div>    
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for user in userList %}
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>Mark</td>
      <td>tony</td>
      <td>{{user.email}}</td>
      <td>
          <div style="display:flex;justify-content: flex-end;">
            <a class="btn bouton-black" href="" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_new-24_103173.png' ) }}" alt="Supprimer autopromo" title="Suprimer autopromo" width="22" height="22">
                            </a>
                            <a id="target" style="margin: 0px 10px;" class="btn bouton-black" href="" role="button">
                                <img src="{{ asset('/Fichiers/autopromo/iconfinder_cross-24_103181.png' ) }}" alt="Modifier autopromo" title="Modifier autopromo" width="22" height="22">                        </a>
          </div>                      
      </td>
    </tr>
    {%endfor%}
    
</table>
{% endblock %}
